<div>
    <style>
        {{cssCtrl.masterCss}}
    </style>
    <table id="devTeamTable">
        <tr>
            <th>Name</th>
            <th>Family</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Roy</td>
            <td>Horev</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Aviram</td>
            <td>Becker</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Kfir</td>
            <td>Zacharovich</td>
            <td>29</td>
        </tr>
        <tr>
            <td>Edward</td>
            <td>Goikhman</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Guy</td>
            <td>Bratman</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Yonatan</td>
            <td>Alon</td>
            <td>21</td>
        </tr>
        <tr>
            <td>Liran</td>
            <td>Vizner</td>
            <td>36</td>
        </tr>
        <tr>
            <td>Yoav</td>
            <td>Levy</td>
            <td>33</td>
        </tr>
    </table>
    <textarea class="input" ng-model="cssCtrl.boxModelPractice" ng-blur="cssCtrl.updateCss();"></textarea>
</div>