<div>
    <h2>Pseudo Classes</h2>
    <div class="flex-container flex-horizontal">
        <section class="lesson padded">
            <table class="limes">
                <tr>
                    <th>Pseudo-Class</th>
                    <th>Meaning</th>
                </tr>
                <tr>
                    <td>::before</td>
                    <td>added BEFORE the specified element. requires the "content:'value';" attribute.</td>
                </tr>
                <tr>
                    <td>::after</td>
                    <td>added AFTER the specified element. requires the "content:'value';" attribute.</td>
                </tr>
                <tr>
                    <td>::first-letter</td>
                    <td>targets the first letter of the element value.</td>
                </tr>
                <tr>
                    <td>::first-line</td>
                    <td>targets the first line of the element value.</td>
                </tr>
            </table>
        </section>
        <complex-css class="practice padded textCenter"></complex-css>
    </div>
</div>