<div>
    <h2>State Selectors</h2>
    <div class="flex-container flex-horizontal">
        <section class="lesson padded">
            <table class="limes">
                <tr>
                    <th>Selector</th>
                    <th>Meaning</th>
                </tr>
                <tr>
                    <td>:active</td>
                    <td>Applied to elements for as long as they are clicked.</td>
                </tr>
                <tr>
                    <td>:hover</td>
                    <td>Applied when the mouse hovers over the selected element.</td>
                </tr>
                <tr>
                    <td>:focus</td>
                    <td>Applied when the element gains focus.</td>
                </tr>
                <tr>
                    <td>:visited</td>
                    <td>Applied to links which have been visited.</td>
                </tr>
            </table>
        </section>
        <complex-css class="practice padded textCenter"></complex-css>
    </div>
</div>