<div>
    <h2>Selectors</h2>
    <div class="flex-container flex-horizontal">
        <section class="lesson padded">
            <table class="limes">
                <tr>
                    <th>Selector</th>
                    <th>Meaning</th>
                </tr>
                <tr>
                    <td>element[attribute]</td>
                    <td>Applied to elements which have the specified attribute.</td>
                </tr>
                <tr>
                    <td>element[attribute='value']</td>
                    <td>Applied to elements when the specified attribute matches the provided value.</td>
                </tr>
                <tr>
                    <td>:first-child</td>
                    <td>Applied to elements which are the first child of their parent.</td>
                </tr>
                <tr>
                    <td>:not(selector)</td>
                    <td>Negates the expression inside the brackets.</td>
                </tr>
                <tr>
                    <td>:nth-child(keyword)</td>
                    <td>Can be used with "odd", "even" or a number.</td>
                </tr>
                <tr>
                    <td>input:valid</td>
                    <td>Selects inputs which are valid.</td>
                </tr>
                <tr>
                    <td>:checked</td>
                    <td>Selects checkboxes which are checked.</td>
                </tr>
            </table>
        </section>
        <complex-css class="practice padded textCenter"></complex-css>
    </div>
</div>