<div>
    <h2>Child Selectors</h2>
    <div class="flex-container flex-horizontal">
        <section class="lesson padded">
            <table class="limes">
                <tr>
                    <th>Selector</th>
                    <th>Meaning</th>
                </tr>
                <tr>
                    <td>A + B</td>
                    <td>Applied to elements of type B immediately after element of type A</td>
                </tr>
                <tr>
                    <td>A ~ B</td>
                    <td>Applied to elements of type B which are siblings element of type A</td>
                </tr>
                <tr>
                    <td>A   B</td>
                    <td>Applied to elements of type B which are descendents  of type A</td>
                </tr>
                <tr>
                    <td>A > B</td>
                    <td>Applied to elements of type B which are immediate children of type A</td>
                </tr>
            </table>
        </section>
        <complex-css class="practice padded textCenter"></complex-css>
    </div>
</div>