*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
}

html {
  background: url(img/background.jpg) no-repeat center top fixed;
  background-size: cover;
}

.textCenter{
    text-align:center;
}


.flex-container{
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content:center;
    -webkit-justify-content:center;
    justify-content:center;
}

.flex-horizontal{
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
}

.flex-vertical{
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
}

div.holder{
    height: 100vh;
}

section.plaque{
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-image: url(img/scroll.png) 120 30 stretch;
    margin: auto 0px;
    width: 60%;
    position:relative;
    /*transition: scrollMvt 2s ease;*/
    z-index:1;
}

section.plaque::before{
    background-color: rgba(210, 173, 120, 0.8);
    content:"";
    height:100%;
    position:absolute;
    width:100%;
    z-index:-1;
}

h1{
    font-size:100px;
}

h2{
    font-size:60px;
}

h1, h2, h3, h4, h5, h6{
    text-align:center;
    text-shadow: 1px 1px 5px #960000;
}

table{
    background-color:white;
}

table#devTeamTable{
    border-radius: 10px;
    padding: 5px 0px;
    width:100%;
}

tr:nth-child(even){
    background-color: #c74a4a;
}

td{
    font-weight:initial;
}

img.dragon{
    height: 100px;
    margin: auto 0px;
    transition: all 0.2s linear;
    width: 60px;
}

img.dragon:hover{
    height: 120px;
    margin: auto 0px;
    width: 72px;
}

.toy{
    background-color: white;
    border: dotted 2px black;
    display: inline-block;
    margin:auto;
    min-height:20px;
    min-width:20px;
    max-width:100%;
    max-height:35vh;
    overflow: auto;
    resize: both;
}

textarea.input{
    display: block;
    height: 30%;
    margin: 5px auto;
    resize: none;
    width: 100%;
}

.boxModel{
    padding:15px;
    padding-top: 5px;
    text-align:center;
}

.boxModel.shadow{
    background-color: red;
}

.boxModel.outline{
    background-color: orange;
}

.boxModel.margin{
    background-color: yellow;
}

.boxModel.border{
    background-color: green;
}

.boxModel.padding{
    background-color: cyan;
}

.boxModel.content{
    background-color: white;
}

.lesson, .practice{
    width:50%;
}

.limes{
    border-radius: 15px;
    border: solid 5px black;
}

.padded{
    padding: 30px
}

.lesson label{
    display: inline-block;
    margin: 5px 0px;
    width: 25%;
}

.lesson label.wide{
    width: 40%;
}

.lesson label.narrow{
    width: 15%;
}

.lesson label.date{
    width: 26%;
}

.lesson input{
    height: 25px;
    margin: 5px;
    padding: 2px 5px;
    width: 70%;
}

.lesson input.no-margin{
    margin: -3px;
}

.lesson input.tiny{
    width: 24%;
}

.lesson label.wide + input{
    width: 55%;
}


/*.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    transform:translate3d(0, 100px, 0);
}

[ui-view].ng-enter-active {
    opacity: 1;
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
    opacity: 1;
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    transform:translate3d(0, -100%, 0);
}

@keyframes scrollMvt {
    0%   {max-height: 80%;}
    50%  {max: 10%;}
    100% {max: 80%;}
}*/